<main>
  <div>
    <section id="card-header">
      <p>(Solve math question and enter result below)</p>
    </section>
    <section id="card-body">
      <div>
        <img src="./level-3/img1.png" alt="captcha image">
      </div>
    </section>
    <section id="card-footer">
      <div>
        <span>
         <i class="fa-solid fa-arrow-left"></i>
        </span>
        <input type="text" placeholder="enter result">
        <button type="submit">
          SUBMIT
        </button>
      </div>
    </section>
  </div>
</main>
