<main>
  <div>
    <section id="card-header">
      <p>{{titre}}</p>
    </section>
    <section id="card-body">
      <div>
        <img ngSrc="./level-{{level}}-{{sublevel}}/img1.jpg" height="120" width="300" priority  alt="captcha image">
      </div>
    </section>
    <section id="card-footer">
      <div>
        <span (click)="goBack()">
         <i class="fa-solid fa-arrow-left"></i>
        </span>
        <input
          type="text"
          placeholder="enter result"
          [(ngModel)]="response"
          [ngClass]="{ 'failed' : isResponseFailed }"
        >
        <button type="submit" (click)="checkCorrectResponse()">
          SUBMIT
        </button>
      </div>
    </section>
  </div>
</main>
