main {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div {
  width: fit-content;
  font-family: sans-serif;
  background-color: white;
  box-shadow: 1px 2px 15px 5px #797979;
  margin: 0;
  padding: 5px;
}

#card-body div {
  width: 120px;
  height: 120px;
  overflow: hidden;
  background-color: silver;
}

@media screen and (max-width: 600px){
  #card-body div {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 430px){
  #card-body div {
    width: 70px;
    height: 70px;
  }
}

#card-body {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(4, 4fr);
  gap: 5px;
  width: fit-content;
  margin: 5px 0;
}

#card-header {
  background-color: #0099ff;
  color: white;
  padding: 20px;
  margin-bottom: 2px;
}

#card-header p, #card-header h1 {
  padding: 0;
  margin: 2px;
}

#card-header h1 {
  font-size: 1.8em;
}

#card-header p {
  font-size: 1.1em;
}

#card-footer {
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
}

#card-footer div {
  margin: 5px;
}

#card-footer div {
  color: gray;
  font-size: 2.0em;
}

#card-footer span {
  margin: 0 10px;
  cursor: pointer;
}

#card-footer button {
  background-color: #0099ff;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px 25px;
  border: none;
  cursor: pointer;
}

#card-body > div img {
  width: 100%;
  height: 100%; /* Le parent div doit avoir une hauteur définie */
  object-fit: cover;
}

.anime {
  animation: img-animation linear 1s;
}

#card-body .selected {
  box-sizing: border-box;
  border: 5px solid #0099ff;
}

@keyframes img-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
