 <div class="home-container">
  <header class="main-header">
    <div class="left-nav">
      <div class="logo">MON JEU CAPTCHA</div>
    </div>
    <nav class="center-nav">
      <a href="">Overview</a>
      <a href="">Media</a>
      <a href="">News</a>
    </nav>
  </header>

  <main class="hero-section">
    <div class="hero-content">
      <p class="hero-subtitle">ENTREZ DANS LE</p>
      <h1 class="hero-title">
        <span>MONDE</span>
        <span class="decorative-line-title"></span>
        DU CAPTCHA
      </h1>
      <div class="cta-buttons">
        <button class="cta-primary" routerLink="/captcha" (click)="playSoundButton()">Jouer Maintenant</button>
        <button class="cta-secondary">Qu'est ce donc ?</button>
      </div>
      <div class="decorative-flourish">
        <span class="flourish-left"></span>
        <span class="flourish-center"></span>
        <span class="flourish-right"></span>
      </div>
    </div>
  </main>

  <footer class="awards-section">

  </footer>
</div>

